### Create dummy data

In [1]:
using Dates
using DataFrames

In [2]:
dats = [Date(2001,1,1):Date(2001,12,31)]
nObs = size(dats, 1)
vals = cumsum(rand(nObs, 3), 1)

df = DataFrame(idx = dats, us = vals[:, 1], br = vals[:, 2], gb = vals[:, 3])
head(df)

6x4 DataFrame
| Row | idx        | us      | br      | gb       |
|-----|------------|---------|---------|----------|
| 1   | 2001-01-01 | 0.98411 | 0.97358 | 0.10871  |
| 2   | 2001-01-02 | 1.63655 | 1.61835 | 0.219046 |
| 3   | 2001-01-03 | 2.2623  | 2.17744 | 0.628132 |
| 4   | 2001-01-04 | 2.4728  | 2.87495 | 1.23159  |
| 5   | 2001-01-05 | 3.34219 | 3.86781 | 2.10206  |
| 6   | 2001-01-06 | 3.65253 | 4.41847 | 2.46895  |

In [3]:
writetable("dummyData.csv", df)